<a href="https://colab.research.google.com/github/bishaddebroy/Machine-Learning-CSE-475-Project/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import glob
from keras.models import Sequential, load_model
import numpy as np
import pandas as pd
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import matplotlib.pyplot as plt
import keras as k # in case I miss any methods I want to use

In [2]:
from google.colab import files #Only use for Google Colab
uploaded = files.upload()      #Only use for Google Colab
df = pd.read_csv("diabetes.csv")
    
#Print the first 5 rows
df.head()

Saving diabetes.csv to diabetes.csv

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [3]:
# get the shape of data (total number of pitents and collumn)
df.shape

(768, 9)

In [4]:
#Create a list of columns to retain
columns_to_retain = ["Pregnancies", "Glucose", "BloodPressure", "BMI",
                         "pcv", "Outcome"]

#columns_to_retain = df.columns, Drop the columns that are not in columns_to_retain
df = df.drop([col for col in df.columns if not col in columns_to_retain], axis=1)
    
# Drop the rows with na or missing values
df = df.dropna(axis=0)

In [5]:
#Transform non-numeric columns into numerical columns
for column in df.columns:
        if df[column].dtype == np.number:
            continue
        df[column] = LabelEncoder().fit_transform(df[column])

In [6]:
df.head()

   Pregnancies  Glucose  BloodPressure   BMI  Outcome
0            6       86             22  33.6        1
1            1       23             19  26.6        0
2            8      121             17  23.3        1
3            1       27             19  28.1        0
4            0       75              4  43.1        1

In [7]:
#Split the data into independent'X'(the features) and dependent 'y' variables (the target)
X = df.drop(["Outcome"], axis=1)
y = df["Outcome"]

In [8]:
df.dtypes

Pregnancies        int64
Glucose            int64
BloodPressure      int64
BMI              float64
Outcome            int64
dtype: object

In [9]:
#from sklearn.preprocessing import LabelEncoder
labelencoder_Y = LabelEncoder()
labelencoder_Y.fit_transform(df.iloc[:,0].values)
df.iloc[:,0:3]

     Pregnancies  Glucose  BloodPressure
0              6       86             22
1              1       23             19
2              8      121             17
3              1       27             19
4              0       75              4
..           ...      ...            ...
763           10       39             25
764            2       60             21
765            5       59             22
766            1       64             14
767            1       31             21

[768 rows x 3 columns]